// Dark colors
$dark-1: #7b828e;
$dark-2: #656b76;
$dark-3: #303237;
$dark-4: #212324;
$dark-5: #1a1b1d;
$dark-6: #000000;

// Grey colors
$grey-1: #f9fafa;
$grey-2: #ebedef;
$grey-3: #e0e3e6;
$grey-4: #d4d9dd;
$grey-5: #c9cfd4;
$grey-6: #7b828e;

// Green colors
$green-1: #ecfef3;
$green-2: #88ddaa;
$green-3: #43d07c;
$green-4: #0ea84c;
$green-5: #108e43;
$green-6: #115b2f;

// Theme color
$theme-white: #ffffff;
$theme-color: $green-6;
