@import "../../../../styles/colors";
@import "../../../../styles/typography";

.AppFooter {
  position: fixed;
  width: 100%;
  bottom: 0;
  height: 100px;
  background-color: $dark-5;
  border-top: solid 1px $dark-3;
  color: $theme-white;

  &_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;

    &_artist {
      display: flex;
      align-items: center;
      grid-gap: 24px;
      position: relative;

      &_img {
        &_sm {
          width: 100px;
          height: 70px;
        }
      }

      & > svg {
        fill: $green-5;
        font-size: 24px;
      }

      &_music {
        &_title {
          @include body-1;
        }

        &_artist {
          @include small-text;
          opacity: 50%;
        }
      }
    }

    &_controls {
      display: flex;
      align-items: center;
      gap: 7px;

      & > svg {
        font-size: 24px;
      }

      &_progressbar {
        height: 5px;
        border-radius: 4px;
        width: 100px;
        background-color: $grey-6;
        overflow: hidden;

        & > div {
          background: $grey-2;
          height: 5px;
          border-radius: 4px;
        }
      }
    }
  }
}
